body{
    font-family: Arial, Helvetica, sans-serif;
}
#mainDiv {
width: 250px;
cursor: pointer;
padding: 8px;
display: flex;
justify-content: space-between;
align-items: center;
}
.childDiv {
width: 250px;
cursor: pointer;
}
.innerDiv {
/* display: flex; */
justify-content: space-between;
margin: 15px 0px;
border-bottom: 2px solid gray;
}
.innerDiv:hover{
border-bottom: 2px solid red;
}
#afterParentDiv {
display: none;
}
#childDropDown {
width: 200px;
display: none;
}
#childDropDown_1 {
width: 200px;
display: none;
}
#childDropDown_2 {
width: 200px;
display: none;
}
#childDropDown_2>div{
margin: 5px 0px;
border-bottom: 1px solid gray;
padding: 10px 0px
}
#childDropDown_2>div:hover{
border-bottom: 2px solid green;
}
#childDropDown_1>div{
margin: 5px 0px;
border-bottom: 1px solid gray;
padding: 10px 0px
}
#childDropDown_1>div:hover{
border-bottom: 2px solid green;
}
#childDropDown>div{
margin: 5px 0px;
border-bottom: 1px solid gray;
padding: 10px 0px
}
#childDropDown>div:hover{
border-bottom: 2px solid green;
}
.child_icon{
display: flex;
justify-content: space-between;
align-items: center;
width: 250px;
}